<p id="notice"><%= notice %></p>

<p>
  <strong>Domain:</strong>
  <%= @content.domain_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @content.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @content.location %>
</p>

<%= link_to 'Edit', edit_content_path(@content) %> |
<%= link_to 'Back', contents_path %>
